.sub{
    color: #A6A6A6;
    font-size: 2rem;
    text-align: left;
    margin-top: 50px;
}

.sub h1{
    color: black;
    font-weight: bold;
}

.titulo{
    color: black;
    font-size: 20rem;
}

.form{
    margin-top: 5rem;
    width: 30rem;
    align-content: center;
}

.btn-success{
    background-color: #63FFBF;
    color: rgb(46, 46, 46);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    text-align: right;
    font-weight: bold;
    font-size: 5rem;
}   

.card-body-sub{
    text-align: right;
    font-weight: lighter;
    color: grey;
}

.card{
    border-radius: 20px;
    margin: auto;
    padding: 20px;
}

a:link{
  color: black;  
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: unset;
}

#main-container{
    display: grid;
    justify-content: center;
}

#main-container button{
    background: #2dd891;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 15px;

    border: #F2F2F2;
    border-radius: 10px;

    color: F2F2F2;
    font-size: 1.4rem;
}

#main-container input{
    border-radius: 10px;
    font-size: 1.4rem;

    color: #A6A6A6;
}
#main-container button:hover{
    opacity: 0.6;
    transition: 0.8s;
}
#arrow-front{
    height: 2rem;
    margin-left: 10px;
}

#card-passos{
    background-image: url(../../images/userResumo/passos-img.svg);
    background-repeat: no-repeat;
    background-position: left;
    height: 600px;
}

#img-logo{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 30rem;
}